'menu': [{
  label: 'Packages'
  submenu: [
    label: 'Language Arma Atom',
    submenu: [
        { label: 'Build', command: 'language-arma-atom:Build' },
        { label: 'Make', command: 'language-arma-atom:Make' },
        { label: 'Open Latest RPT File', command: 'language-arma-atom:Open-Latest-RPT-File' },
    ]
  ]
}]
